.btn {
  border: 2px solid transparent;
  border-radius: 5px;
  width: 100px;
  height: 60px;
}
.active {
  border: 2px solid red;
}
.modal {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.modal__content {
  max-width: 550px;
  width: 100%;
  min-height: 300px;
  background: white;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-active {
  visibility: visible;
  opacity: 1;
}
