.light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: gray;
  margin: 25px auto 0;
  &__item {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 5px 0;
    &-red {
      background-color: red;
      filter: brightness(10%);
    }
    &-yellow {
      background-color: yellow;
      filter: brightness(10%);
    }
    &-green {
      background-color: green;
      filter: brightness(10%);
    }
    &-active {
      filter: brightness(100%) blur(3px);
      border: 2px solid transparent;
    }
  }
}
